{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "plugins": [
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "no-console": "off",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "no-nested-ternary": "off",
    "react/no-array-index-key": "off"
  }
}
